<%= form_for [user, item] do |f| %>
  <div class="form-group">
    <%= f.label "New item" %>
    <%= f.text_field :name,class: "form-control", placeholder: "Enter item" %>
  </div>
  <%= f.submit "Add item", class: "btn btn-default pull-right", id: "add_item" %>
<% end %>
